<section class="bg-primary" id="music">

    <div class="container">
        <div class="row">

            <iframe style="border-radius:12px"
                src="https://open.spotify.com/embed/artist/33cOjdkOOlVcnhZBKQFIWo?utm_source=generator" width="100%"
                height="352" frameBorder="0" allowfullscreen=""
                allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
                loading="lazy"></iframe>
        </div>
        <div class="row text-center" style="margin: 50px 0;">
            <div class="col-lg-6" style="margin-bottom: 10px;">
                <a target="_blank" href="https://www.youtube.com/@illegalfireworksmusic" class="youtube-link"
                    style="text-decoration: none; color: white;">
                    <div class="youtube-box"
                        style="display: inline-block; padding: 20px; background-color: rgba(255, 255, 255, 0.1); border-radius: 10px; transition: all 0.3s ease; width: 100%; max-width: 300px; margin: 20px 0;">
                        <i class="fa fa-youtube fa-3x wow bounceIn" data-wow-delay=".1s" style="color: #FF0000;"></i>
                        <h3 style="margin-top: 15px; font-family: Nilkuza;">Subscribe on YouTube</h3>
                        <p style="margin-bottom: 0;">@illegalfireworksmusic</p>
                    </div>
                </a>
            </div>
            <div class="col-lg-6" style="margin-bottom: 10px;">
                <a target="_blank" href="https://illegalfireworks.bandcamp.com/" class="bandcamp-link"
                    style="text-decoration: none; color: white;">
                    <div class="bandcamp-box"
                        style="display: inline-block; padding: 20px; background-color: rgba(255, 255, 255, 0.1); border-radius: 10px; transition: all 0.3s ease; width: 100%; max-width: 300px; margin: 20px 0;">
                        <i class="fa fa-music fa-3x wow bounceIn" data-wow-delay=".2s" style="color: #629aa9;"></i>
                        <h3 style="margin-top: 15px; font-family: Nilkuza;">Listen on Bandcamp</h3>
                        <p style="margin-bottom: 0;">illegalfireworks.bandcamp.com</p>
                    </div>
                </a>
            </div>
        </div>
    </div>

</section>